{% extends "admin/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Бронирования</h1>
        
        <div class="card mt-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Дата</th>
                                <th>Время</th>
                                <th>Автор</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.id }}</td>
                                <td>{{ booking.name }}</td>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.time }}</td>
                                <td>{{ booking.author }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Нет бронирований</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
