<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">Odissey</a></h1>
								<span>by Akella</span>
								<img width="40" src="static/images/tintin/milou.png" alt="" />
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									
									
									<li><a href="music.html">Музыка</a></li>
									
									<li><a href="sup.html">Сап-борд</a></li>
									
								</ul>
							</nav>

					</header>