<!DOCTYPE HTML>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tg_main.css') }}">
	<title>Записи</title>
	</head>
	<body>
<div class="Main">
<form action="{{ url_for('editBook',book_id = book.id)}}" method="post">
  <div class="form-group">
    <label for="name">Название:</label>
    <input type="text" class="form-control" name="name" value="{{book.name }}">
    <button type="submit">Обновить</button>
  </div>
</form>
<a href='{{ url_for('showBooks') }}'>
  <button>Отменить</button>
</a>	
										
</div>
		<script src="https://telegram.org/js/telegram-web-app.js"></script>
	</body>
</html>

